
*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: lightcoral;
}
body{
    margin: 20px;
}
#todo-item{
    background-color:rgb(223, 103, 103) ;
}
.red{
    color: rgb(135, 213, 239);
    background-color: rgb(223, 103, 103);
}
.whi{
    color: paleturquoise;
}
@media(max-width:799px){
    .main input{
        font-size: 40px;
    }
    .main .red{
        font-size: 40px;
    }
}

@media(max-width:400px){
    .main input{
        font-size: 20px;
    }
    .main .red{
        font-size: 20px;
    }
}

